{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}
<body class="is-preload">
		<div class="box container medium">
					<section>
						<header>
							<h3>Ajout d'un stage</h3>
						</header>
						{{form(form)}}
							</div>
					</section>
					</body>
{% endblock %}