{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}
<body class="is-preload">
		<!-- Header -->
			<div id="header">
				<span class="logo icon fa-paper-plane-o"></span>
				<h1>AppliStage</h1>
				<h2>Espace Admin</h2>
				<p>Ici, vous pouvez ajouter, modifier, supprimer un stage ou un utilisateur.</p>
			</div>
		<!-- Main -->
			<div id="main">
				<div class="box container large">
					<section>
					<header><a class="button center" href="{{path('administrateur_stage')}}">Afficher les stages</a>
					<a class="button center" href="{{path('administrateur_utilisateurs')}}">Afficher les utilisateurs</a></header>
					</div>
					</div>
					</body>
{% endblock %}