{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}
    <body class="is-preload">
    <div class="box container medium">
        <section>
            <header>
                <h3>Modification entreprise</h3>
            </header>
            {{form(form)}}
        </section>
    </div>
    </body>
{% endblock %}