{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}
<body class="is-preload">
		<!-- Main -->
			<div id="main">
					<div class="box container large">
					<section>
						<header>
							<h3>Liste des utilisateurs</h3>
						</header>
						<div class="table">
							<table class="default">
								<thead>
									<tr>
										<th>Email</th>
										<th>Roles</th>
										<th>Modifier</th>
										<th>Supprimer</th>
									</tr>
								</thead>
								<tbody>
                                {% for u in utilisateurs %}
                                    <tr>
                                        <td>{{ u.email }}</td>
                                        <td>{{ u.roles[0] }}</td>
										<td><a href="{{ path('modifier_utilisateur', {'id': u.id}) }}">
                                                Modifier</a></td>
										<td><a href="{{ path('supprimer_utilisateur', {'id': u.id}) }}">
                                                Supprimer</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
							</table>
						</div>
					</section>
					</div>
					</div>
					</body>
{% endblock %}