{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
    	<div class="box container medium">
					<section>
						<header>
							<h3>Inscription</h3>
						</header>
						{{form(form)}}
							</div>
					</section>
{% endblock %}